

main{
 
  background-color: rgb(185, 214, 214);

  display: flex;
  align-items: center;
  justify-content: center;
  
 

}
section{
  gap: 1rem;
}

.container{
 
  display: flex;
  align-items: center;
  justify-content: center;
 flex-direction: column;
   width: 400px;
  position: relative;
}

article{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  box-shadow: 3px 3px 3px 3px;
  width: 400px;
  padding-left: 1rem;
}
img{
  border-radius: 50%;
  width: 100px;
}
.asd{
  width: 200px;
}
.prev{
  position: absolute;
  top: 50%;
  left:-4.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
}
.next{
  position: absolute;
    top: 50%;
  right:-4.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
   border: none;
}
h3{

  font-size: 2rem;
}
h5{
  font-size: 1rem;
}